<%- include('partials/head') %>
<body>
    <script>
        redirect_query = (n) => window.location.href = 'http://localhost:3000/'.concat("query/", String(n));
    </script>
    <%- include('partials/header', {home: String(home)}) %>
    <br>
    <div class="container mt-5 col-4">
        <% buttons.forEach(button => { %>
            <div class="row mt-5">
                <button type="submit" class="btn btn-outline-danger btn-lg btn-block" onclick="redirect_query(<%= button.id %>)"><%= button.name %></button>
            </div>
        <% }) %>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
