<%- include('partials/head') %>
<body>
    <%- include('partials/header', {home}) %>
    <div class="container mt-5 col-6">
        <div class="dropdown row">
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Choose Stat Attribute</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% attributes.forEach((attr) => { %>
                    <li><a class="dropdown-item" href="<%= `/response/3?` + new URLSearchParams({attr: attr}) %> "><%= attr %> </a></li>
                <% }) %>
            </ul>
        </div>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
