<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container mt-5 col-6">
        <form action="/response/<%= n %>" method="post">
            <div class="col mb-3">
                <label for="<%= p1 %>" class="form-label"><%= p1 %> </label>
                <div class="row">
                    <input type="text" class="col mx-4 form-control" id="<%= p1 %>" >
                    <button type="button" class="col-2 mx-4 btn btn-secondary" onclick="searchPlayerFunc(document.getElementById('<%= p1 %>').value, '<%= p1 %>-res')">Search</button>
                </div>
                <div id="<%= p1 %>-res" class="card bg-light row m-3 p-2"></div>
            </div>
            <div class="col mb-3">
                <label for="<%= p2 %>" class="form-label"><%= p2 %> </label>
                <div class="row">
                    <input type="text" class="col mx-4 form-control" id="<%= p2 %>">
                    <button type="button" class="col-2 mx-4 btn btn-secondary" onclick="searchPlayerFunc(document.getElementById('<%= p2 %>').value, '<%= p2 %>-res')">Search</button>
                </div>
                <div id="<%= p2 %>-res" class="card bg-light row m-3 p-2"></div>
            </div>
            <br>
            <div class="col mb-3 text-center">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
