<%- include('partials/head') %>
<body>
    <%- include('partials/header', {home}) %>
    <div class="container mt-5 col-6">
        <form action="/response/<%= n %>" method="post">
            <div class="col mb-3">
                <label for="<%= type %>" class="form-label"><%= type %> </label>
                <div class="row">
                    <input type="text" class="col mx-4 form-control" id="<%= type %>" >
                    <button type="button" class="col-2 mx-4 btn btn-danger" onclick="searchPlayerFunc(document.getElementById('<%= type %>').value, '<%= type %>-res')">Search</button>
                </div>
                <div id="<%= type %>-res" class="card bg-light row m-3 p-2"></div>
            </div>
            <br>
            <div class="col mb-3 text-center">
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
