<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container mt-5 col-15">
        <h5 class="text-center"><%= String(name) %> - Seasonwise Stats</h5>
        <br>
        <table class="table table-bordered text-center table-striped">
            <thead>
                <tr>
                    <% Object.keys(stats[0]).forEach(key => { %>
                        <th scope="col"><%= String(key) %> </th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% stats.forEach(stat => { %>
                    <tr>
                    <% Object.keys(stat).forEach(key => { %>
                            <td><%= String(stat[key]) %> </td>
                    <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
