<%- include('partials/head') %>
<body>
    <%- include('partials/header', {home}) %>
    <br>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-1 text-center">
            <img src="http://localhost:3000/images/<%= img %>.jpg" class="rounded mx-auto d-block img-fluid h-20">
            </div>
            <div class="col-6">
            <h4 class="text-center"><%= String(p1) + " vs " + String(p2) + " - " + String(type) + " Stats" %></h4>
            </div>
        </div>
    </div>
    <div class="container mt-4 col-6">
        <br>
        <table class="table table-bordered text-center">
            <thead>
                <tr class="table-danger">
                    <th scope="col">Stat</th>
                    <th scope="col"><%= String(p1) %> </th>
                    <th scope="col"><%= String(p2) %> </th>
                </tr>
            </thead>
            <tbody>
                <% stats.forEach(stat => { %>
                    <tr class="table-danger">
                        <td colspan="3">Season: <%= String(stat['Season1']) %> </th>
                    </tr>
                    <% headers.forEach(key => { %>
                        <% if (key != 'Season') { %>
                            <tr>
                                <td><%= String(key) %> </td>
                                <td><%= String(stat[key + '1']) %> </td>
                                <td><%= String(stat[key + '2']) %></td>
                            </tr>
                        <% } %>
                    <% }) %>
                <% }) %>
            </tbody>
        </table>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
