<%- include('partials/head') %>
<body>
    <%- include('partials/header', {home}) %>
    <br>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-1 text-center">
            <img src="http://localhost:3000/images/batter.jpg" class="rounded mx-auto d-block img-fluid h-20">
            </div>
            <div class="col-6">
            <h4 class="text-center"><%= String(p1) + " vs " + String(p2)%></h4>
            </div>
            <div class="col-1 text-center">
            <img src="http://localhost:3000/images/bowler.jpg" class="rounded mx-auto d-block img-fluid h-20">
            </div>
        </div>
    </div>
    <div class="container mt-4 col-8">
        <br>
        <table class="table table-bordered text-center">
            <thead>
                <tr class="table-danger">
                    <% headers.forEach(key => { %>
                        <th scope="col"><%= String(key) %> </th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% stats.forEach(stat => { %>
                    <tr>
                    <% headers.forEach(key => { %>
                            <td><%= String(stat[key]) %> </td>
                    <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
