<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <%- include('partials/header', {home}) %>
    <div class="container mt-5">
        <script>
            $(document).ready(() => {
                $('#teams-tab').DataTable();
            } );
        </script>
        <table id="teams-tab" class="table m-4 text-center table-bordered" style="width:100%">
            <thead>
                <tr>
                    <% headers.forEach(header => { %>
                        <th><%= String(header) %> </th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% teams.forEach(team => { %>
                    <tr>
                        <% Object.keys(team).forEach(field => { %>
                            <td><%= String(team[field]) %> </td>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
            <!-- <tfoot>
                <tr>
                    <% headers.forEach(header => { %>
                        <th><%= String(header) %> </th>
                    <% }) %>
                </tr>
            </tfoot> -->
        </table>
    </div>
    <style>
        .paginate_button.active > a {
            background-color: gray!important;
            border-color: gray!important;
        }
    </style>
    <!-- <%- include('partials/footer') %> -->
</body>
