<%- include('partials/head') %>
<body>
    <%- include('partials/header', {home}) %>
    <div class="container mt-5 col-6">
        <h5 class="text-center"><%= String(p1) + " vs " + String(p2) + " - " + String(type) + " Stats" %></h6>
        <br>
        <table class="table table-bordered text-center">
            <thead>
                <tr class="table-danger">
                    <th scope="col">Stat</th>
                    <th scope="col"><%= String(p1) %> </th>
                    <th scope="col"><%= String(p2) %> </th>
                </tr>
            </thead>
            <tbody>
                <% stats.forEach(stat => { %>
                    <tr class="table-danger">
                        <td colspan="3">Season: <%= String(stat['Season1']) %> </th>
                    </tr>
                    <% headers.forEach(key => { %>
                        <% if (key != 'Season') { %>
                            <tr>
                                <td><%= String(key) %> </td>
                                <td><%= String(stat[key + '1']) %> </td>
                                <td><%= String(stat[key + '2']) %></td>
                            </tr>
                        <% } %>
                    <% }) %>
                <% }) %>
            </tbody>
        </table>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
